
<!--
NOTES:
	1. have a static reference with non-working dropdown in individuals page
	2. Had to use jQuery for the dropdown toggle, see application.js in assets/javascripts
-->

<!-- 
See: http://red-team-design.com/simple-and-effective-dropdown-login-box/
	- looks like might be very useful
-->

<div class="contain-to-grid">
   <nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <a id="title_link" href="/">Gelfand Center</a>
		</li>

	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>

	
	
  <section class="top-bar-section"> <!-- changing this to <section class="top-bar-section"> hides dropdowns, but does not re-					appear -->
	  <ul class="left">
	  	<li class="divider"></li>
	  	<li class="divider"></li>
	  </ul>

  	    <!-- Right Nav Section -->
	<ul class="right">

		<% unless current_user.nil? %>
	  	  <li class="divider"></li>
	      <li><a href="/bg_checks">Background Check</a></li>
	  	  <li class="divider"></li>
	      <li><a href="/organizations">Organizations</a></li>
		<% end %>
	      <li class="divider"></li>
		  <li><a href="/gelfand_contact_page.html">Contact Us</a></li>
		  <li class="divider"></li>
	    	
	    <% if current_user.nil? %>
		  <li>
	       <a href="/users/sign_in" id="signupLink">
	         Sign Up
	       </a>
	      </li>
	<% else %>
	<% end %>

        

    <% unless current_user.nil? %>
		<!-- show login tab -->
		 <li id="login">
	       <a id="login-trigger">
	        	Hi <%= current_user.get_first_name %> <span>▼</span>
	       </a>
	       	<!-- form stuff for 'Login' tab-->
		      <div id="login-content">
	      		</fieldset>
		      		<div id="inputs">
		      			<br>
		      			<%= link_to 'My Account', individual_path(current_user.individual), :id => "my_account"%>
		      			<hr id="logout_myaccount_divider">
							Not <%= current_user.get_first_name %>? 
							<br>
							<%= link_to 'Log out', destroy_user_session_path, :method => :delete, :class=>"button [radius round]", :id => "logout-button-text" %>	
							<br>
							<br>
							<br>
							<!--  -->
					</div>
				</fieldset>

		  	</div>                     
		</li>
	<% else %>
			<!-- show login tab -->
			 <li id="login">
			       <a id="login-trigger">
			         Log in <span>▼</span>
			       </a>
			       	<!-- form stuff for 'Login' tab-->
					      <div id="login-content">

					      <%= form_for(User.new, :url => user_session_path) do |f| %>
						      	<fieldset>
						      		<div id="inputs">

									  <%= f.email_field :email, :autofocus => true, :id => 'email' , :placeholder => "Email address", :required => true %>

									  <%= f.password_field :password, :id => 'password', :placeholder=>"Password", :required => true %>
									  <br>
									  <%= f.submit "Submit" , id: 'submit' %>
									</div>
								</fieldset>

						  <% end %>
							<a id="forgotPass" href="/users/password/new">Forgot password? </a>
						  </div>                     
			</li>
	<% end %>
          
         
    </ul>



  </section>
  </nav>
</div>

<!-- messages for Error, Success, Alrt -->
<p><h3><strong><%= flash[:error] %></strong></h3></p>
<p><h3><strong><%= flash[:notice] %></strong></h3></p>
<p><h3><strong><%= flash[:alert] %></strong></h3></p>


