<% unless current_user.nil? %>

<strong> <%= current_user.email %> </strong>
(Admin: <strong> <%= current_user.admin %> </strong>
Member: <strong> <%= current_user.member %> </strong> )  <br>
<%= link_to 'Users edit', edit_user_registration_path %> | 
<%= link_to 'Log out', destroy_user_session_path, :method => :delete %>

<% else %>

<%= link_to 'Sign in', new_user_session_path %> |
<a href="/users/sign_up">Sign up</a>

<% end %>


<!-- Positioning the Top Bar -->
<div class="contain-to-grid">
   <nav class="top-bar" data-topbar>
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="#">Gelfand Center</a></h1>
		    </li>
	    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	  </ul>

  <section class="top-bar-section"> <!-- changing this to <section class="top-bar-section"> hides dropdowns, but does not re-					appear -->
	  <ul class="left">
			<!-- Code for search: Start -->
			<li class="has-form">
			  <div class="row collapse">
			    <div class="large-8 small-9 columns">
			      <input type="text" placeholder="Find something">
			    </div>
			    <div class="large-4 small-3 columns">
			      <a href="#" class="alert button expand">Search</a>
			    </div>
			  </div>
			</li>
			<!-- Code for search: End-->
	  </ul>

  	    <!-- Right Nav Section -->
	    <ul class="right">
	      <li><a href="#">Contact</a></li>
	      <li class="divider"></li>
	      <li class="has-dropdown">
		        <a href="#">Sign up</a>
		        <ul class="dropdown">
					<li class="has-form">
					    <div class="large-8 small-9 columns">
						      <input type="text" placeholder="Email">
					    </div> 
					    	<br>
					    <div class="large-8 small-9 columns">
					      <input type="text" placeholder="Password">
					    </div> 
					    	<br>
					    <div class="large-8 small-9 columns">
					      <input type="text" placeholder="Password confirmation">
					    </div> 
					</li>
		          	<li><a href="#"> link in dropdown</a></li>
		        </ul>
	      </li>
	      <li class="divider"></li>
	      <li class="has-dropdown">
		        <a href="#">Login</a>
		        <ul class="dropdown">
		          <li><a href="#"> link in dropdown</a></li>
		          <li><a href="#"> link in dropdown</a></li>
		        </ul>
	      </li>
	    </ul>

  </section>
  </nav>
</div>