<% resource.build_individual %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<div class="small-8 small-centered columns">

  <div class="row">
    <h2>Sign up</h2>
    <%= devise_error_messages! %>
  </div>
  <div class="row">
        <div class="small-4 columns">
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>
        </div>
        <div class="small-4 columns">
          <div><%= f.label :password %><br />
          <%= f.password_field :password, :value => "" ,:placeholder => "placeholder text" %></div>
        </div>
        <div class="small-4 columns">
          <div><%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :placeholder=>"At least 8 characters" %></div>
        </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
        <%= f.fields_for :individual do |individual_form| %>
          <div><%= individual_form.label :first_name %><br />
          <%= individual_form.text_field :f_name %></div>

          <div><%= individual_form.label :last_name %><br />
          <%= individual_form.text_field :l_name %></div>

          <div><%= individual_form.label :role %><br />
          <%= individual_form.select(:role, Individual::ROLES_LIST) %></div>
        <% end %>
    </div>
    <div class="small-4 columns">
    </div>
  </div>
  <div class="row">
      <%= f.submit :class => "button small" %>
  </div>
</div>
<% end %>

