<%= simple_form_for(@program) do |f| %>
	<div class="cushionWrapper">
		<% if @program.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

	      		<ul>
	      			<% @program.errors.full_messages.each do |msg| %>
		        		<li><%= msg %></li>
	      			<% end %>
	      		</ul>
			</div>
		<% end %>

		<div class="row">
			<div class="programField">
	    		<%= f.input :name, :label => "Program Name" %>
	    	</div>
		</div>

		<div class="row" id="dates">
			<div class="small-6 columns">
				<%= f.label :start_date %>
				<%= f.text_field :start_date, :as => :string, :class => "datepicker" %>
			</div>
			<div class="small-6 columns">
				<%= f.label :end_date %>
				<%= f.text_field :end_date, :as => :string, :class => "datepicker" %>
			</div>

		</div>

		<br />

		<%= simple_fields_for @contact do |contact_form| %>
			<div class="row">
				<div class="programField">
					<%= contact_form.input :title, :label => "Contact Name" %>
				</div>
			</div>
			<div class="row">
				<div class="programField">
					<%= contact_form.input :email, :label => "Contact Email" %>
				</div>
			</div>

			<div class="contact_extras hide">
				<div class="row">
					<div class="programField">
						<%= contact_form.input :phone, :label => "Contact Phone" %>
					</div>
				</div>
				<div class="row">
					<div class="programField">
						<%= contact_form.input :street, :label => "Address" %>
					</div>
					<div class="programField">
						<%= contact_form.input :street2, :label => nil %>
					</div>
				</div>
				<div class="row">
					<div class="programField">
						<%= contact_form.input :city %>
					</div>
				</div>
			</div>
		<% end %>

		<div class="row">
			<div class="programField">
				<%= f.input :description %>
			</div>
		</div>		

		<div class="row">
			<div class="field small-4 columns">
				<%= f.input :num_minors, :label => "Number of Minors Involved" %>
			</div>

			<div class="field small-4 offset-2 columns">
				<%= f.input :num_adults_supervising, :label => "Number of Supervising Adults" %>
			</div>
		</div>

		<div class="row">
			<div class="programField">
				<%= f.input :cmu_facilities, :label => "Campus Facilities In Use" %>
			</div>
		</div>

		<div class="row">
			<div class="programField">
				<%= f.input :off_campus_facilities, :label => "Off-Campus Facilities In Use" %>
			</div>
		</div>

		<div class="row">
			<%= f.submit "Create Program", :class => "button" %>
		</div>
	</div>

<% end %>
