<%= simple_nested_form_for @program, :html => { :class => 'form-horizontal' } do |program_form| %>
<div class="row">
<div class="small-6 columns leftNavPrograms">

    <!-- Form for Program-->
      <fieldset>
        <legend><%= controller.action_name.capitalize %> Program </legend>
        <%= render :partial => "program_fields", :locals => { :f => program_form } %>
      </fieldset>

</div>
<div class="small-5 columns rightContentPrograms">

    <!-- Form for Affiliation-->
    <legend>Make an affiliation to this Program</legend>      
        <%= program_form.simple_fields_for :affiliation do |affiliation_form| %>
          <%= render :partial => "affiliation_fields", :locals => { :f => affiliation_form } %>
        <% end %> 
    
    </div>
</div>

<div class="form-actions"> <!-- if there is no css made, change this to 'actions' -->
    <%= program_form.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', programs_path, :class => 'btn' %>
</div>

<% end %>

