<img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

<ul class="side-nav">
    <!-- want to start calling Individuals "People" in the views from now on -->
    <li><%= link_to 'Add a Program', new_program_path %></li>
    <li><div id="activeHeading">Display </li>
    <li><%= link_to 'Ongoing', 'programs/ongoing' %></li>
    <li><%= link_to 'Completed', 'programs/completed' %></li>
    <li><%= link_to 'Upcoming', 'programs/upcoming' %></li>
    <li><%= link_to 'All', programs_path %></li>

    <br />
    <li><%= link_to 'People', individuals_path %></li>
    <li><%= link_to 'Organizations', organizations_path %></li>
    <li><%= link_to 'Back', programs_path %></li>
    <br />
</ul>