
<div class="row" data-equalizer>
    <div class="small-2 columns leftNav" data-equalizer-watch>
        <%= render 'sidebar_from_inside' %>  
    </div>
    <div class="small-10 columns rightContent" data-equalizer-watch>
        <p id="notice"><%= notice %></p>
        <h1><%= @program.name %></h1>
        <div class="cushionWrapper">
            <div class="row">
                <div class="small-2 columns">
                    <strong>Start Date: </strong><%= @program.start_date.strftime("%m/%d/%y") %>
                </div>
                <div class="small-2 offset-8 columns">
                    <strong>End Date: </strong><%= @program.end_date.strftime("%m/%d/%y") %>
                </div>
            </div>
            <br />

            <div class="row text-center">
                <i><%= @program.description %></i>
            </div>

            <div class="row">
                <strong>Contact Email: </strong>
                <% if @program.contact %>
                    <%= @program.contact.email %>
                <% else %>
                    None assigned. <%= link_to "Edit Program?", edit_program_path(@program) %>
                <% end %>
            </div>

            <div class="row">
                <div class="progShowPanel">
                    <h3>Participating Members</h3>
                    <% if @program.cleared_participants.empty? %>
                        There is no one assigned to this program.
                    <% else %>
                        <% @program.cleared_participants.each do |ind| %>
                            <%= link_to ind.name, ind %> <br>
                        <% end %>
                    <% end %>
                    <br />
                    <%= link_to "See all members...", "#{@program.id}/individuals_list" %>
                    <br />
                </div>
            </div>
            
            <div class="row progShowPanel">
                <h3>Affiliated Organizations</h3>
                <% if @program.organizations.empty? %>
                    There are no Organizations affiliated with this program.
                    <br />
                    <%= link_to "Check Organizations?", organizations_path %>
                <% else %>
                    <% @program.organizations.each do |org| %>
                        <%= link_to org.name, org %> <br>
                    <% end %>
                <% end %>
                <br />
            </div>

            <div class="row progShowPanel"><h3>Additional Information</h3></div>

            <div class="row">
                <p><strong>Cmu Facilities:</strong>
                    <%= @program.cmu_facilities %></p>
            </div>

            <div class="row">
                <p><strong>Off Campus Facilities:</strong>
                    <%= @program.off_campus_facilities %></p>
            </div>

            <div class="row">
                <p><strong>Number of Minors Involved:</strong>
                    <%= @program.num_minors %></p>
            </div>

            <div class="row">
                <p><strong>Number of Supervising Adults:</strong>
                    <%= @program.num_adults_supervising %></p>
            </div>
        </div>
    </div>
</div>