<div class="row" data-equalizer>
    <div class="small-2 columns leftNav" data-equalizer-watch>
        <%= render 'sidebar_from_inside' %>  
    </div>

    <div id="leftProgramContainer" class="small-10 columns rightContent" data-equalizer-watch>
        <div class="row progListHead"><h1>Upcoming Programs</h1></div>
        <div class="cushionWrapper">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>People Pending Clearance</th>
                        <th>Contact</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% @upcoming.order('start_date ASC').each do |prog| %>
                        <tr>
                            <td><%= link_to prog.name, prog %></td>
                            <td><%= prog.start_date.strftime("%m/%d/%y") %></td>
                            <td class="text-center"><%= link_to prog.num_uncleared_participants, "programs/#{prog.id}/individuals_list" %></td>
                            <td><%= "Contact Email" %></td>
                            <td><%= link_to image_tag('tools.png'), edit_program_path(prog) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>