  <% if @individual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual.errors.count, "error") %> prohibited this individual from being saved:</h2>

      <ul>
      <% @individual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field">
      <%= form.label "First Name" %><br>
      <%= form.text_field :f_name %>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <%= form.label "Last Name" %><br>
      <%= form.text_field :l_name %>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <%= form.label :role %><br>
      <%= form.select(:role, options_for_select([["Student", 0], ["Faculty", 1], ["Off-Campus", 2]], 0)) %>
    </div>
  </div>
