<div><%= user_form.label :email %><br />
  <%= user_form.email_field :email, :autofocus => true %></div>

  <div><%= user_form.label :password %><br />
  <%= user_form.password_field :password %></div>

  <div><%= user_form.label :password_confirmation %><br />
  <%= user_form.password_field :password_confirmation %></div>



<%= render "devise/shared/links" %>
