<h1>Listing individuals</h1>

<table>
  <thead>
    <tr>
      <th>F name</th>
      <th>L name</th>
      <th>Role</th>
      <th>Dob</th>
      <th>Active</th>
      <th>Bg check</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @individuals.each do |individual| %>
      <tr>
        <td><%= individual.f_name %></td>
        <td><%= individual.l_name %></td>
        <td><%= individual.role %></td>
        <td><%= individual.dob %></td>
        <td><%= individual.active %></td>
        <td><%= individual.bg_check_id %></td>
        <td><%= individual.contact_id %></td>
        <td><%= link_to 'Show', individual %></td>
        <td><%= link_to 'Edit', edit_individual_path(individual) %></td>
        <td><%= link_to 'Destroy', individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Individual', new_individual_path %>
