<p id="notice"><%= notice %></p>
<h1>New Individual</h1>

<%= form_for(@individual) do |f| %>

	<%= render partial: 'form', object: f  %>

	<div class="row">
  	  <div class="actions">
  	    <%= f.submit %>
  	  </div>
  	</div>

<% end %>

<%= link_to 'Back', individuals_path %>
