

<div class="row">
    <div class="small-2 columns leftNav">
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
        <ul class="side-nav">
            <% if can? :update, @individual %>
                <li><%= link_to 'Edit Information', edit_individual_path(@individual) %></li>
                <li><%= link_to 'Change password', edit_user_registration_path %></li>
            <% end %>
        </ul>
    </div>
    <div class="small-10 columns rightContent">
        
        <p id="notice"><%= notice %></p>
        <h1>Account Information</h1>
    
        <div class="indiv_show_OuterDiv">
            <div class="row">
                <div class="small-10 columns">
                    <div class="indiv_show_SpecificCell">
                      <strong>First Name: </strong>
                      <%= @individual.f_name %>
                    </div>

                    <div class="indiv_show_SpecificCell">
                      <strong>Last Name: </strong>
                      <%= @individual.l_name %>
                    </div>

                    <div class="indiv_show_SpecificCell">
                      <strong>Preferred Name: </strong>
                      ?
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-10 columns">
                    <div class="indiv_show_SpecificCell">
                        <strong>Email: </strong>
                        <%= current_user.email%>
                    </div>

                    <div class="indiv_show_Contact">
                    <strong>Contact:</strong><br>
                        5000 Forbes Avenue <br> Pittsburgh, PA 15289<br>
                        -- This is a test address --

                    </div>
                </div>
            </div>



            

        </div>

    

        <% if current_user && current_user.member%>
            <% unless @individual.bg_check.nil? %>
                <%= link_to 'My Background Check', bg_check_path(@individual.bg_check.id), :class => "button" %>
            <%else%>
                <%= link_to 'Start Background Check', new_bg_check_path, :class => "button" %>
            <%end%>

        <% end %>
    </div>

</div>
