<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @individual.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @individual.l_name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @individual.role %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @individual.dob %>
</p>

<p>
  <strong>Active:</strong>
  <%= @individual.active %>
</p>

<p>
  <strong>Bg check:</strong>
  <%= @individual.bg_check_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @individual.contact_id %>
</p>

<%= link_to 'Edit', edit_individual_path(@individual) %> |
<%= link_to 'Back', individuals_path %>
