<p id="notice"><%= notice %></p>

<p>
  <strong>First Name: </strong>
  <%= @individual.f_name %>
</p>

<p>
  <strong>Last Name: </strong>
  <%= @individual.l_name %>
</p>

<p>
  <strong>Role: </strong>
  <%= @individual.role %>
</p>

<p>
  <strong>Birth Date: </strong>
  <%= @individual.dob %>
</p>

<p>
  <strong>Active:</strong>
  <%= @individual.active %>
</p>

<p>
  <strong>Bg check:</strong>
  <%= @individual.bg_check_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @individual.contact_id %>
</p>

<% if can? :update, @individual %>
  <%= link_to 'Edit', edit_individual_path(@individual) %> |
<% end %>

<%= link_to 'Back', individuals_path %>
