<div class="row">
    <div class="small-2 columns leftNav">
        <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
     <ul class="side-nav">
      <%if current_user.admin?%>
        <li><%= link_to 'New Check', new_bg_check_path %> </li>
        <li><%= link_to 'Back', bg_checks_path %></li>
      <%else%>
        <li><a href="#">Overview</a></li>
                <% unless current_user.individual.bg_check.nil? %>
                    <li><%= link_to 'Status', bg_check_path(current_user.individual.bg_check) %></li>
                <% end %>
        <li><a href="#">FAQ</a></li>
      <%end%>
    </ul> 
    <br />
    </div>
    <div class="small-10 columns rightContent">
    <%if current_user.admin?%>
        <h1>New bg_check</h1>
        <%= render 'form' %>
    <%elsif current_user.individual.bg_check.nil?%>
        <p>You have successfully started the Background Check Process</p>

        <p>Click 'Continue' to view the status of your background check</p>

        <%= render 'form' %>

    <% else %>
        <h3>You shouldn't be here</h3>
        <%= link_to 'View your own status', bg_check_path(current_user.individual.bg_check) %>
    <% end %>
    </div>

</div>




