<p id="notice"><%= notice %></p>

<p>
  <strong>Date approved:</strong>
  <%= @bg_check.date_approved %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bg_check.status %>
</p>

<p>
  <strong>Criminal date:</strong>
  <%= @bg_check.criminal_date %>
</p>

<p>
  <strong>Child abuse date:</strong>
  <%= @bg_check.child_abuse_date %>
</p>

<p>
  <strong>Verification date:</strong>
  <%= @bg_check.verification_date %>
</p>

<% if can? :update, @bg_checks %>
  <%= link_to 'Edit', edit_bg_check_path(@bg_check) %> |
<% end %>

 <%= link_to 'Back', bg_checks_path %>
