<div class="row" data-equalizer>
  <div class="small-2 columns leftNav" data-equalizer-watch>
    <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
        <ul class="side-nav">
  </div>
  <div class="small-10 columns rightContent" data-equalizer-watch>
    <div align="center">
      <h3>Send us a message</h3>

      <%= simple_form_for @mailer, :html => {:class => 'form-horizontal' } do |f| %>
        <div class="row">
          <div class="small-6 columns">
            <%= f.input :name, :required => true, :input_html => {:value => current_user.individual.proper_name }%>
          </div>
          <div class="small-6 columns" id="email">
            <%= f.input :email, :required => true, :input_html => {:value => current_user.email } %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.input :message, :as => :text, :required => true, :input_html => {class: 'message', :rows => 10} %>
            <div class="hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
          </div>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>