      <table>
        <tbody>
              <tr>
                <td><h3>Members</h3></td>
              </tr>
<%= form_tag delete_multiple_memberships_path, method: :delete do %>
            <% @organization.memberships.each do |mem| %>
              <tr>
                <td class ="tableData"><%= mem.individual.l_name %>, <%= mem.individual.f_name %></td>
                <td class ="tableData"><%= mem.individual.format_role %></td>

                <td class ="tableData"><%= link_to "#{image_tag('pencil_edit.png', size: "24x24")}".html_safe, edit_individual_path(mem.individual) %></td>
                  <% if current_user.admin || current_user.is_orgUser_for_specific_org(@organization) %>
                  <!-- For below "#{image_tag('remove.gif')} Remove"
                      helpful link: http://stackoverflow.com/questions/5387122/link-to-image-tag-with-text-in-rails
                       - searched this in Google "image appear link_to next to rails"
                   -->

                  <td class ="tableData"><%= link_to "#{image_tag('remove_gray_bg.png', size: "16x16", alt: "Remove?")}".html_safe, mem, method: :delete,  :data => { :confirm => "Are you sure?" } %></td>
                       <!-- if having no last name for Indiv then u r dealing with a Membership that has a temp Individual, because waiting for a person to sign up with Gelfand since this is not a 'regular Membership' yet dont allow delete all-->
                      <% unless mem.individual.l_name == "Temp: " %>
                             <td ><%= check_box_tag "membership_ids[]", mem.id %> </td>
                      <% end %>
                  <% end %>
              </tr>
            <% end %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
          <% if current_user.is_orgUser_for_specific_org(@organization) %>
              <td>
                  <%= submit_tag "Remove all",  :name => "#{@organization.id}", :class => "formDeleteButton" %>
              </td>
          <% end %>
<% end %>

            </tr>
        </tbody>


<!-- Indivs NOT part of Org -->
    <!-- no need to define method here because forms always default to POST -->
    <% if (current_user.admin || current_user.is_orgUser_for_specific_org(@organization)) %>
            <tbody>
                <tr><td class="OrgShowAddMemForm">
                    <%= simple_form_for OrganizationMailer.new, :html => {:class => 'form-horizontal' } do |f| %>
                      <%= f.input :currently_registered_email, :label => "Email", :required => true %>
                      <div class="hidden">
                        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                      </div>
                      <div class="hidden">
                        <%= f.input :org_name, :input_html => { :value => @organization.name } %>
                      </div>
                      <div class="hidden">
                        <%= f.input :NOTICE, :input_html => { :value => 
                          "You have been temporarily given a Membership to \"#{@organization.name}\". To officially be in the system, sign up at: http://gelfand-gelfand.rhcloud.com/users/sign_up"
                         } %>
                      </div>
                      <%= hidden_field_tag :organization_id, @organization.id %>
                      <div>
                        </br>
                        <%= f.button :submit, 'Add', :class => "button", :id=> "addingFormButton" %>
                      </div>
                    <% end %>
              </td></tr>
          </tbody>
    <% end %>
</table>
      <br>

