<img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
<ul class="side-nav">


    <li><div id="activeHeading">Actions </li>
	<li><%= link_to 'Overview', org_overview_organizations_path %> </li>
    <li><%= link_to 'Create a Organization', new_organization_path %> </li>
   <li><%= link_to 'Create a Program', new_program_path %></li>

<br>
<br>

<% unless current_user.orgs_that_user_is_Admin_for.empty? %>
      <li><div id="activeHeading">Manage</a></li>
      
      <% current_user.orgs_that_user_is_Admin_for.each do |org| %>
          <li id="underManage"><%= link_to org.name, edit_organization_path(org) %> </li>
      <% end %>
  
<% end %>

</ul> 