<div class="row" data-equalizer>
  <div class="small-2 columns leftNav" data-equalizer-watch>
    <%= render 'sidebar' %>
  </div>
  <div class="small-10 columns rightContent" data-equalizer-watch>
      <h1>Organization home</h1>
  <br>
      <% if current_user.admin %>
                    <table >
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Is a partner</th>
                          <th>Active</th>
                          <th>Contact</th>
                        </tr>
                      </thead>

                      <tbody>
                      <% @organizations.each do |org|  %>
                        <tr><td><%= link_to org.name, org %> </td>
                            <td><%= org.is_partner ? "Yes" : "No" %></td>
                            <td><%= org.active ? "Yes" : "No" %></td>                            
                            <td></td>
                            <td class="row_actions"><%= link_to "#{image_tag('pencil_edit.png', size: "20x20")}".html_safe, org %></td>
                        </tr>
                      <% end %>
                    </tbody>
                   </table>   
        <% elsif current_user.member %>  

            <%= render 'org_home_for_regular_user' %>
        
        <% end %>
    
   </div>
 </div>




