<div class="row">
  <div class="small-3 columns indexLeftHalf">
      <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 
      <ul class="side-nav">
          <li><%= link_to 'Create a Organization', new_organization_path %> </li>
         <li><%= link_to 'Create a Program', new_program_path %></li>
      </ul> 
      <br />

    </div>

  <div class="small-9 columns indexRightHalf">
      <h1>Organizations</h1>

      <table >
        <thead>
          <tr >
            <th>Name</th>
            <th>Is partner</th>
            <th>Description</th>
            <th>Active</th>
            <th>Department</th>
          </tr>
        </thead>

        <tbody>
          <% @organizations.each do |organization| %>
            <tr>
              <td><%= link_to organization.name, organization_path(organization) %></td>
              <td><%= organization.is_partner %></td>
              <td><%= organization.description %></td>
              <td><%= organization.active %></td>
              <td><%= organization.department %></td>
              <td>
                <%if can? :update, organization%>
                  <%= link_to 'Edit', edit_organization_path(organization) %>
                <%end%>
              </td>
              <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
   </div>
</div>    


