<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Is partner:</strong>
  <%= @organization.is_partner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @organization.active %>
</p>

<p>
  <strong>Department:</strong>
  <%= @organization.department %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @organization.contact_id %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
