<div class="row">
  <div class="small-3 columns indexLeftHalf">
      <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

  </div>
<p id="notice"><%= notice %></p>

  <div class="small-9 columns indexRightHalf">
<p>
  <h3>Organization Name:</h3>
  <%= @organization.name %>
</p>

<p>
  <strong>Is partner:</strong>
  <%= @organization.is_partner %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @organization.active %>
</p>

<p>
  <strong>Department:</strong>
  <%= @organization.department %>
</p>

          <strong>    Members: </strong> <%=  @organization.get_membership_size %> 
<br>
<br>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

</div>