<div class="row">
  <div class="small-2 columns leftNav">
      <img src="<%= asset_path( 'gelfandLogo.jpg' ) %>" /> 

  </div>
<p id="notice"><%= notice %></p>

  <div class="small-6 columns rightContent">

  <h1>  <%= @organization.name %></h1>

  <strong>Is partner:</strong>
  <%= @organization.is_partner %>

  <strong>Description:</strong>
  <%= @organization.description %>

  <strong>Active:</strong>
  <%= @organization.active %>

  <strong>Department:</strong>
  <%= @organization.department %>

          <strong>    Members: </strong> <%=  @organization.memberships.size %> 

  <br>
  <br>
  <div class="Org_Show_LeftContent">
      <% if @organization.memberships.empty? %>
               <h3> Currently there are no members.</h3>
      <% else %>
              <h3>Members</h3>
              <%= render 'indivs_for_an_org' %>
      <% end %>
  </div>
<br>
<br>

<%= link_to 'Edit Org', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

</div>

<div class="small-4 columns addMemberPartOfOrgShowPage">
      <div class = "quickAddFormTitle"> Add an individual: </div>
          <% unless @organization.indivs_not_already_part_of_org.empty? %>
              <% if current_user.is_orgUser_for_specific_org(@organization) %>
                  <%= render "quick_add_member_to_org" %>
              <% end %>
          <% else %>
              <h5> No more available individuals to add. </h5>
          <% end %>


</div>

</div>